<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdl.smartplacenew.mapper.FileCutMapper">

    <select id="checkUpload" resultType="int">
        select
            count(id) sum
        from
            filemd5
        where
            `md5` = #{fileMd5}
    </select>


    <insert id="addMd5">
        insert into
            filemd5(md5,filepath)
        values (#{fileMd5},#{filepath});
    </insert>

    <select id="getMd5NoList" resultType="string">
        select
            md5no
        from
            filemd5temp
        where
            `md5` = #{fileMd5}
        order by `md5no`
    </select>

    <insert id="saveCutTemp">
        insert into
            filemd5temp(`md5`,`md5no`,`dirname`)
        values
            (#{fileMd5},#{md5no},#{dirname});
    </insert>

    <select id="getTempNum" resultType="int">
        select
            count(id)
        from
            filemd5temp
        where
            `md5` = #{1}
    </select>

    <select id="getTemp" resultType="com.csdl.smartplacenew.pojo.FileTemp">
        select
            id,`md5`,`md5no`,dirname
        from
            filemd5temp
        where
            `md5` = #{1}
        order by
            `md5no`
    </select>

    <delete id="deleteMd5Temp">
        delete
        from
            filemd5temp
        where
            `md5` = #{1}
    </delete>


</mapper>